[{:itonami.blueprint/social-impact [:local-jobs :food-safety :worker-safety], :itonami.blueprint/domain :services/kitchen-support, :itonami.blueprint/required-technologies [:robotics :forms :audit-ledger], :itonami.blueprint/isco-08 "9412", :itonami.blueprint/name "Independent Kitchen Support Practice", :itonami.blueprint/governor :kitchen-support-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-9412", :itonami.blueprint/license "AGPL-3.0-or-later"}]